<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= product.sku %>
  </p>

  <p>
    <strong>Is seasonal:</strong>
    <%= product.is_seasonal %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

</div>
